body {
    background: url("https://tinyurl.com/3pe34r9p") fixed;
}

table {
    width: 90%;
    margin: 0 auto;
    background-color: white;
}
th, td {
    padding: 20px;
    border: 1px solid black;
}


#body{
    height: 400px;
}
